<%- include("navbar.ejs") %>
<form action="/admin/update_product_type" method="post">
    <div class="container-fluid p-4 bg-white">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12">
                <h3>Edit Product Type</h3>
            </div>
            <!-- Hidden field for passing product_type_id -->
            <input type="hidden" name="product_type_id" value="<%= product_type._id %>">
            <div class="col-md-6">
                <label for="product_type_name">Enter Type</label>
                <input type="text" name="product_type_name" id="product_type_name" value="<%= product_type.product_type_name %>" class="form-control" required>
            </div>
            <div class="col-md-3">
                <br>
                <button type="submit" class="btn btn-primary">Update Product Type</button>
            </div>
        </div>
    </div>
</form>



<%- include("footer.ejs") %>